In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("HIV DATASET 2.csv")
df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13548\1452049587.py:1: DtypeWarning: Columns (1,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("HIV DATASET 2.csv")

,PUBCHEM_RESULT_TAG,PUBCHEM_SID,PUBCHEM_CID,PUBCHEM_EXT_DATASOURCE_SMILES,PUBCHEM_ACTIVITY_OUTCOME,PUBCHEM_ACTIVITY_SCORE,PUBCHEM_ACTIVITY_URL,PUBCHEM_ASSAYDATA_COMMENT,Inhibition at 3.7 uM
0,RESULT_TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FLOAT
1,RESULT_DESCR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normalized percent inhibition of the primary s...
2,RESULT_UNIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PERCENT
3,RESULT_ATTR_CONC_MICROMOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7
4,1,49647234.0,1796033.0,C1[C@H]2C(=O)N(CC(=O)N2CC3=C1C4=CC=CC=C4N3)CCCCCO,Active,100.0,NaN,NaN,95.52
...,...,...,...,...,...,...,...,...,...
107948,107945,24819000,16195106.0,CC1=CC=C(C=C1)CN2CCN(CC2)CC3=CC=CC=C3F.C(=O)(C...,Inactive,1.0,NaN,NaN,1.56
107949,107946,Status: 500 Server Error,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107950,Content-Type: text/plain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107951,ERROR: 500 Server Error,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107952,CCgiResponse::WriteHeader() -- called more tha...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop([0,1,2,3], axis=0,inplace = True)
cols = ["PUBCHEM_EXT_DATASOURCE_SMILES", "PUBCHEM_ACTIVITY_OUTCOME"]
df = df[cols].reset_index()
df.drop("index", axis=1, inplace = True)
df.columns = ["SMILES", "ACTIVITY_OUTCOME"]
df.dropna(axis=0)
df

                                                   SMILES ACTIVITY_OUTCOME
0       C1[C@H]2C(=O)N(CC(=O)N2CC3=C1C4=CC=CC=C4N3)CCCCCO           Active
1       C1C=C[C@@H]2[C@H]1[C@@H](NC3=C2C=C(C=C3)C(=O)O...           Active
2                            C1=CC(=O)OC2=CC(=C(C=C21)O)O           Active
3             CC(C(=O)O)N1C(=O)/C(=C/C=C/C2=CC=CO2)/SC1=S           Active
4                      COC1=C(C=CC(=C1)C=C2C(=O)C=CC2=O)O           Active
...                                                   ...              ...
107944  CC1=CC=C(C=C1)CN2CCN(CC2)CC3=CC=CC=C3F.C(=O)(C...         Inactive
107945                                                NaN              NaN
107946                                                NaN              NaN
107947                                                NaN              NaN
107948                                                NaN              NaN

[107949 rows x 2 columns]

In [5]:
def binarize(x):
    if x == "Active":
        return 1
    else:
        return 0

In [7]:
df["ACTIVITY"] = df["ACTIVITY_OUTCOME"].apply(binarize)
df.drop("ACTIVITY_OUTCOME", axis=1, inplace = True)
df

                                                   SMILES  ACTIVITY
0       C1[C@H]2C(=O)N(CC(=O)N2CC3=C1C4=CC=CC=C4N3)CCCCCO         1
1       C1C=C[C@@H]2[C@H]1[C@@H](NC3=C2C=C(C=C3)C(=O)O...         1
2                            C1=CC(=O)OC2=CC(=C(C=C21)O)O         1
3             CC(C(=O)O)N1C(=O)/C(=C/C=C/C2=CC=CO2)/SC1=S         1
4                      COC1=C(C=CC(=C1)C=C2C(=O)C=CC2=O)O         1
...                                                   ...       ...
107944  CC1=CC=C(C=C1)CN2CCN(CC2)CC3=CC=CC=C3F.C(=O)(C...         0
107945                                                NaN         0
107946                                                NaN         0
107947                                                NaN         0
107948                                                NaN         0

[107949 rows x 2 columns]

In [8]:
df_new = df.copy()
#the data entries duplicates are dropped
df_new.drop_duplicates(inplace = True, ignore_index = True)
df_new.dropna(axis=0, inplace = True)
df_new

                                                   SMILES  ACTIVITY
0       C1[C@H]2C(=O)N(CC(=O)N2CC3=C1C4=CC=CC=C4N3)CCCCCO         1
1       C1C=C[C@@H]2[C@H]1[C@@H](NC3=C2C=C(C=C3)C(=O)O...         1
2                            C1=CC(=O)OC2=CC(=C(C=C21)O)O         1
3             CC(C(=O)O)N1C(=O)/C(=C/C=C/C2=CC=CO2)/SC1=S         1
4                      COC1=C(C=CC(=C1)C=C2C(=O)C=CC2=O)O         1
...                                                   ...       ...
107915      C1=CC(=CC(=C1)Cl)C2=CC(=NO2)C(=O)NC3=CN=CC=C3         0
107916  CC(=O)NC(C)(C1=CC=C(C=C1)OC)C2=NC(=CS2)C3=CC=C...         0
107917  CC1=C(C=C(C=C1)C(=O)N2CCN(CC2)CC3=CC4=C(C=C3)O...         0
107918               CC1=CC2=C(C=C1)N(CCC2)C(=O)NC3CCCCC3         0
107919  CC1=CC=C(C=C1)CN2CCN(CC2)CC3=CC=CC=C3F.C(=O)(C...         0

[107919 rows x 2 columns]

In [9]:
df_new.to_csv("HIV bigdata.csv", index=False)